:root {
	--main-color: #42567A;
	--main-backgrond-color: #F4F5F9;
	--slide-header-color: #3877EE;
	--first-year-color: #5D5FEF;
	--second-year-color: #EF5DA8;
	--second-year-color-mobile: #F178B6;
	--circle-border-color: rgb(48 62 88 / 50%);
	--header-gradient: linear-gradient(180deg, #3877EE -5%, #EF5DA8 85%);
	--period-button-border: rgb(66 86 122 / 50%);
	--slider-active-button-shadow: 0px 0px 15px 0px #3877EE1A;
	--vertical-line-mobile: #C7CDD9;
}