.verticalLine, .horizontalLine {
	position: absolute;
	background-color: var(--circle-border-color);
}

.verticalLine {
	left: 50%;
	width: 1px;
	height: 100%;
	transform: translateX(-50%);
}

.horizontalLine {
	top: 50%;
	width: 100%;
	height: 1px;
	transform: translateY(-50%);
}