.wheel {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border: 1px solid var(--circle-border-color);
	width: 530px;
	height: 530px;
	transition: all .8s;
}

.diameter{
	position: absolute;
	left: 50%;
	top: -10px;
	width: 0;
	height: 103.8%;
}

.one {
	transform: rotate(40deg);
}

.two {
	transform: rotate(90deg);
}

.three {
	transform: rotate(140deg);
}