.count {
	margin-bottom: 14px;

	@media (width <= 320px) {
		margin-bottom: 10px;
		font: var(--font-slide-text-mobile);
	}
}

.buttons {
	display: flex;
	align-items: center;
}

.margin-right-20 {
	margin-right: 20px;
}

.margin-right-10 {
	margin-right: 10px;
}