.container {
	display: grid;
	grid-template-rows: 1fr;
	height: 100vh;

	@media (width > 320px) {
		grid-template-columns: 1fr 1440px 1fr;
	}
}

.history {
	position: relative;
	grid-column: 2;
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-columns: 1fr;

	@media (width > 320px) {
		border: 1px solid var(--circle-border-color);
	}

	@media (width <= 320px) {
		grid-template-rows: 1fr 1.3fr 1fr 0.7fr;
	}
}

.header {
	align-self: center;
}

.peroidSlider {
	@media (width > 320px) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.bottomNav {
	align-self: flex-end;
}

.paginationEl {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		width: 7px;
		height: 7px;
		background: var(--main-color);
		margin: 0 5px;
	}

	// background-color: red;
}