.eventsSlider {
	transition: all .4s;
}

.sliderWithNav {
	margin-left: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 20px;
}

.isHidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	margin-top: 10px;
}


.pointTitle {
	padding-left: 20px;
	font: var(--font-wheel-point-mobile);
	font-weight: 700;
	margin-bottom: 20px;
}

.horizontalLine {
	width: 90%;
	background-color: var(--vertical-line-mobile);
	height: 1px;
	margin: 0 auto;
	margin-bottom: 10px;
}