.eventsSlider {
	margin-left: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 20px;
	transition: all .4s;
}

.isHidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.swiper {
	// padding-bottom: 50px;

}

.paginationWrapper {
	// display: flex;
	// justify-content: center;
	// align-items: center;
}

.noActiveSlide {
	@media (width <= 320px) {
		opacity: 0.5;
	}
}