.eventsSlider {
	margin-left: -55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 20px;
	transition: all .4s;
}

.isHidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.swiper {
	// margin-right: 78px;
}